@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@300&family=Protest+Riot&display=swap');

body{
    background-color: hsl(0, 0%, 8%);
}


nav{
    display:flex;
    gap:90px;
    justify-content: center;
}

header{
    display: flex;
    justify-content: center;
    padding: 35px;
}

.a1{
    color:hsl(158, 36%, 37%);
    text-decoration: none;
    font-size:30px;
    font-family: 'Protest Riot', sans-serif;;
    transition: 0.20s;    
}

.a1:hover{
    color:rgb(0, 255, 0);
}

img{
    border: 3px solid hsl(158, 36%, 37%);
    position: relative;
    border-radius: 50px;
    
}

img:hover{
    opacity: 0.50;
}

main{
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding:140px;
   gap:10px; 
}

#img1{
    margin-right:3px;
}


#img{
    margin-right: 3px ;
}

