body{
    background-color: black;
    text-align: center;
}

a{

    color:white;
    text-decoration: none;
}

p{
    font-size: 50px;
}

.abt{
    
    transition: 0.5s;
}

.abt:hover{
color:rgb(54, 52, 52)
}

ol{
    color: white;
    text-align: left;
    font-size:20px
}