div{
    text-align: center
}

ul{
    color:rgba(0, 0, 0, 0.034);;
    display:flex;
    gap:50px;
    position:absolute;
    left: 29%;

}


a{
    font-size:35px
    
}

.color{
    text-decoration: none;
    color:rgb(255, 254, 254);
    transition: 0.2s;
}

.color:hover{
    color:blue
}

#Name{
    position:absolute;
    left: 18%
}

h3{
    color: rgb(245, 245, 255);
    font-size:40px
}

#stadium{
    color: rgb(255, 255, 255);
    font-size:25px;
}

h4{
    position:absolute;
    left: 34%
    
}

img{
    position: absolute;
    left: 36%;
}

body{
    background-color:rgba(68, 68, 68, 0.901); 
}