div{
    text-align: center
}

ul{
    color:rgb(0, 0, 0);
    display:flex;
    gap:50px;
    position:absolute;
    left: 29%;

}

body{
    background-color: black;
}
a{
    font-size:35px
    
}

.color{
    text-decoration: none;
    color:rgb(255, 255, 255);
    transition: 0.2s;
}

.color:hover{
    color:blue
}


form{
    position:absolute;
    left:42.5%;
    background-color:rgb(254, 254, 255);
    border: 1px solid #ffffff;
}
        


p{
    color: rgb(0, 0, 0);
}

.p-1{
    position: absolute;
    left:1%;
}

#p-2{
    position:absolute;
    left: 38%;
}

button{
    color:rgb(0, 0, 0)
}

input{
    font-size:17px
}