#header{
     position:absolute;
     left: 23%
}

h1{
    font-size: 60px;
    color:white;
}

div{
    text-align: center
    

    
}

ul{
    color: rgba(0, 0, 0, 0.034);
    display:flex;
    gap:50px;
    position:absolute;
    left: 29%;

}


a{
    font-size:35px
    
}

.color{
    text-decoration: none;
    color:rgb(255, 255, 255);
    transition: 0.2s;
}

.color:hover{
    color:blue
}

img{
    position: absolute;
    left:36%
    
}

#h2-1{
    position:absolute;
    left:44%
}

h2{
    font-size: 35px;
}

P{
    position: absolute;
    left: 3%;
}

form{
    position:absolute;
    left:44%;
}

body{
    background-color: rgba(0, 0, 0, 0.901);
}

#img{
    background-color: rgba(0, 0, 0, 0.901);
}