body{
    background-color: black;
}

a{
    text-decoration: none;
    font-size: 40px
}

ul{
    display:flex;
    gap:60%;
    position: absolute;
    left:24%
    
}

.a{
    color:rgb(0, 255, 0);
    transition: 0.5s;
}

.a:hover{
   color:green;
}

button{
    position: absolute;
    left: 47%;
    width:100px;
    height:35px
}

#button{
    background-color: rgb(165, 165, 165);
    color: rgb(255, 255, 255)
}

#img3{
    position: absolute;
    left: 59%;
}

#img2{
    position: absolute;
    left: 39%
}

#img1{
    position: absolute;
    left: 19%
    
}

.img{
    border-radius: 20px;
    width: 400px;
    height: 400px;
   

}

img{
    position: relative;
     width: 50%;
}

img:hover{
    opacity: 0.3;
}

