
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: hsl(221, 100%, 96%);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_div{
    background-color: white;
    width: 680px;
    height: 450px;
    border: none;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#left_div{
    background-color: hsl(241, 81%, 54%);
    height: 430px;
    width: 340px;
    border:none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 28px;
    padding: 10px 0px;
}

#owl{
    background-color: hsl(234, 85%, 45%);
    width: 170px;
    height: 180px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#p1{
    color: white;
    font-size: 22px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Hanken Grotesk";
}

#p2{
    color: white;
    font-size:12px;
    text-align: center;
    font-family: "Hanken Grotesk";
    font-weight: 100;
}

b{
    font-size: 90px;
}

h1{
    color: white;
    font-size: 30px;
    position: relative;
    top: -69px;
    font-family: "Hanken Grotesk";
}

#p3{
    color: rgba(234, 234, 234, 0.908);
    font-weight:100;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    top: -118px;
    font-family: "Hanken Grotesk";
}


#right_div{
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 6px 0px;
    
}

.div{
    background-color: black;
    height: 50px;
    width: 255px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 7px;
    align-items: center;
    padding: 0px 15px;
}

#divs{
    display: flex;
    gap: 12px;
    flex-direction: column;
}

#div1{
    background-color: hsla(0, 100%, 67%, 0.055);
}

#div2{
    background-color: hsla(39, 100%, 56%, 0.055);
}

#div3{
    background-color: hsla(166, 100%, 37%, 0.066);
}

#div4{
    background-color: hsla(234, 85%, 45%, 0.055);
    position: relative;
    top: 10px;
}

.h4{
    font-size: 14px;
    display: flex;
    align-items: center;
    font-family: "Hanken Grotesk";

}

#h4-1{
    color:  hsl(0, 100%, 67%);
}

#h4-2{
    color:  hsl(39, 100%, 56%);
}

#h4-3{
    color:   hsl(166, 100%, 37%);
}

#h4-4{
    color:  hsl(234, 85%, 45%);
}

i{
    color: black;
    font-family: "Hanken Grotesk";
}

strong{
    font-weight: 300;
}

button{
    background-color: hsl(241, 82%, 13%);
    width: 280px;
    height: 45px;
    border-radius: 30px;
    position: relative;
    top: 30px;
    border: none;
    color: white;
    font-family: "Hanken Grotesk";
    font-size: 16px;
}

h2{
    font-family: "Hanken Grotesk";
    font-size: 22px;
}