body{
    background-color: #1b2838;
}


#imgheader{
    width:100px;
    height: 100px;
    border: 1px solid  lightgreen;
    border-radius: 50%;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height:115px;

}

nav{
    width:40%;
    display: flex;
    justify-content: center;
    gap:90px;
    font-size:25px;
    
    
    
}

nav a{
    text-decoration: none;
    color: lightgreen;
    font-family:sans-serif;
    transition: 0.3s;
}

#imgheader{
    margin:20px;
    margin-left: 25%;
    position: relative;
}

#imgheader:hover{
    opacity: 0.80;
}

a:hover{
    color: lightseagreen;
}

.img{
    width:350px;
    border-radius: 50px;
    position: relative;
    border: 5px solid rgb(0, 0, 0);
    border-color:black;

}


.img:hover{
    opacity: 0.5;
}

main{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h1{
    display: flex;
    justify-content: center;
    color:rgb(0, 0, 0);
    font-size:50px;
   
   
    
}

