body{
    background-color: #020202;
}

img{
    width:100px;
    height: 100px;
    border: 1px solid  lightgreen;
    border-radius: 50%;
}

header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    height:115px;

}

nav{
    width:40%;
    display: flex;
    justify-content: center;
    gap:90px;
    font-size:25px;
    
    
    
}

nav a{
    text-decoration: none;
    color: lightgreen;
    font-family:sans-serif;
    transition: 0.3s;
}

img{
    margin:20px;
    margin-left: 25%;
    position: relative;
}

img:hover{
    opacity: 0.80;
}

a:hover{
    color: lightseagreen;
}


main{
    display: flex;
    justify-content: center;
    align-items: center;

}

main h1{
    color: lightgreen;
    font-size:45px;
    text-shadow: 2px 2px 5px lightgreen
}