h1{
   text-align:center;
   color: rgb(24, 122, 19);
   font-size: 70px
   
}

body{
    text-align:center;
    background-color: rgba(0, 0, 0, 0.901);
}

.mike{
    font-size: 2rem;
    color: #092635;;
    transition: 0.2s;
}
.mike:hover{
color: rgb(255, 255, 255)


}

ul{
    text-align: center; 
    display: space-around;
    display: flex;
    gap:20px;
    margin-right: 50px;
    margin-top: 40px;
    list-style-type:none;
     
    
}


img{

    text-align: center
}
div{
    

    background-color: rgb(14, 132, 16);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px
}


.matrix{

    width: 100%; 
    border: 4px solid #dadada; 
    
    
    
   
}

ul{

    color:rgba(0, 0, 0, 0.901);
}

a{

    text-decoration: none;
}

