body{
    background-color: rgba(0, 0, 0, 0.900);
}


ul{
   display:flex;
   gap: 50px;
}

#ul{
    color: rgba(20, 20, 20, 0);
    position:absolute;
    left: 32%;
}

a{
    font-size:35px;
    color:white;
    text-decoration: none;
}

h1{
    position:absolute;
    left: 7%;
    font-size:70px
}

#header{
    
    
    color:rgb(0, 255, 0);
    
}

img{
    position:absolute;
    left: 8%
}

p{
    position:absolute;
    left: 40%;
    font-size:20px
}

#p{
    color: white;
}